/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, th, td, input, select, button {margin:0;padding:0}
fieldset, img {border:0 none}
dl, ul, ol, menu, li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none}
input, select, textarea, button {vertical-align:middle}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body {direction:ltr;-webkit-text-size-adjust:none}
body, h1, h2, h3, h4, th, td, input, select, textarea, button, a {color:#333;font-size:1em;line-height:1.5;font-weight:400;font-family:'Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif}
a {text-decoration:none}
a:hover {text-decoration:none}
address, caption, cite, code, dfn, em, var {font-style:normal;font-weight:normal}
html {box-sizing:border-box}
*, *:before, *:after {box-sizing:inherit}

label {margin-bottom: 0 !important}

#dext_body {
  ul, ol {
    padding-left: 40px;
    margin: 1em 0;
  }
  ul, li {
    list-style: inherit;
  }
  a {
    text-decoration: underline;
    color: -webkit-link;
  }
}