$primary-color: #2985db;
$primary-color-hover: #056AC9;
$pale-blue: #BDD9F4;
$secondary-color: #ebebeb;
$secondary-color-hover: #d6d6d6;
$info-color: #909090;
$info-color-hover: #575757;
$warning-color: #ea6923;
$warning-color-hover: #da5a15;
$danger-color: #C70909;
$danger-color-hover: #ff010e;
$yellow-color: #fdc036;
$dark-primary-color: #77bdff;
$dark-bg-color: #505050;
$dark-border-color: #5E5E5E;
$error-color: #D50000;
$attention-color: #EC6E00;
$importance-color: #FDC036;
$success-color: #94c11e ;