//break point by RWD
$md: 768px !default;
$lg: 1024px !default;
$xl: 1200px !default;

//function color
$primary: #2598e7 !default;
$success: #94c11e !default;
$info: #009688 !default;
$warning: #f9b200 !default;
$danger: #e75113 !default;
//color...
$light-blue: #89c6e1 !default;
$blue: #2598e7 !default;
$deep-blue: #00519e !default;
$yellow: #f9b200 !default;
$orange: #f7851c !default;
$deep-orange: #e75113 !default;
$red: #f44336 !default;
$green: #94c11e !default;
$pink: #e91e63 !default;
$teal: #009688 !default;
$indigo: #00529e !default;
$brown: #795548 !default;
$cyan: #00bcd4 !default;
$purple: #9c27b0 !default;
$lime: #cddc39 !default;
$khaki: #f0e68c !default;
$amber: #ffd740 !default;
$beige: #e6daa6 !default;
$gray-eee: #eee !default;
$gray-ddd: #ddd !default;
$gray-ccc: #ccc !default;
$gray-999: #999 !default;
$gray-666: #666 !default;
$gray-333: #333 !default;
$gray: #808080 !default;
$black: #000 !default;
$blue-gray: #455a64 !default;
$white: #fff !default;

//Z-index
$zindex-fixed: 1000 !default;
$zindex-overlay: 1050 !default;
$zindex-modal: 1050 !default;