/* Button */

//.gt-button and .gt-btn are based style for all buttons
.gt-button, .gt-btn {
	display:inline-block;
	padding:8px 16px;
	background-color: $gray-999;
	text-align:center;
	overflow:hidden;
	vertical-align:middle;
	text-decoration:none;
	white-space:nowrap;
	color: $white;
	cursor:pointer;
	vertical-align: top;
	border: 1px solid transparent;
	user-select: none;
	transition-duration:.3s;
	&:hover {
		background-color: lighten($gray-999, 8%);
	}

	//outline style
	&.gt-button-outline, &.gt-btn-outline {
		color: $gray-666;
    	background-color: $white;
    	border-color: $gray-ccc;
    	&:hover {
			color: $white;
			background: $gray-ccc;
		}
	}
	&[class*='gt-button-outline-'],
	&[class*='gt-btn-outline-'] {
		background-color: $white;
	}

	//color mapped style
	$func_colors: (primary:$primary, success:$success, info:$info, warning:$warning, danger:$danger);
	@each $name, $color in $func_colors {
		&.gt-button-outline-#{$name}, &.gt-btn-outline-#{$name} {
			color: $color;
			border-color: $color;
			&:hover {
				color: $white;
				background-color: $color;
			}
		}
		&.gt-button-#{$name}, &.gt-btn-#{$name} {
			background-color: $color;
			&:hover {
				background-color: lighten($color, 8%);
			}
		}
	}

	//disabled style
	&.gt-button[disabled], &.gt-btn[disabled],
	&.gt-button-disabled, &.gt-btn-disabled,
	&.gt-button-disabled:hover,
	&.gt-button-disabled:focus,
	&.gt-button-disabled:active {
		cursor: not-allowed;
		opacity: .5;
	}

	//block style
	&.gt-button-block, &.gt-btn-block {
		width: 100%;
		display: block;
	}

}
