.gt-cell-row {
	display: table;
	width: 100%;
	.gt-cell {
		display: table-cell
	}
	.gt-cell-top {
		vertical-align: top
	}
	.gt-cell-middle {
		vertical-align: middle
	}
	.gt-cell-bottom {
		vertical-align: bottom
	}
}
