/* indicator */
.gt-indicator {
	position: fixed;
	top: 50%;
	right: 100px;
	margin: 0 auto; 
	width: 40px;
	padding: 10px 0;
	background: $gray-333;

	> span {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #fff;
		margin: 20px auto;
		cursor: pointer;
		transition-duration: 0.1s;
		
		&.gt-active {
			background: $blue;
			transform: scale(1.5);		
		}
	}

}