/* Input */
.gt-input {
	padding:8px;
	display:inline-block;
	border:1px solid $gray-ddd;
	min-height:34px;

	&[disabled], &[readonly], &.gt-disabled {
		background-color: $gray-eee;
		cursor: not-allowed;
	}
}

.gt-select {
	padding: 7px;
	display:inline-block;
	border:1px solid $gray-ddd;
	min-height:34px;
}

.gt-checkbox {
	width: 18px;
	height: 18px;
	&.gt-disabled {
		opacity: .4;
		cursor: not-allowed;
	}	
}

.gt-radio {
	width: 18px;
	height: 18px;
	&.gt-disabled {
		opacity: .4;
		cursor: not-allowed;
	}
}
