/* Layer */
.gt-layer {
	position: relative;
	display: inline-block;
	zoom: 1;
	*display: inline;

	.gt-layer-wrap {
		z-index: 1000;
		position: absolute;
		width: 650px;
		background: $white;
	}

	.gt-layer-header {
		padding: 10px 20px;
		color: $white;
		background: $primary;
	}

	.gt-layer-body {
		padding: 30px;
		max-height: 450px;
		border: 1px solid $gray-eee;
		overflow-y: auto;
	}

	.gt-layer-close {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	//layer animate
	.gt-animate-opacity {animation:animatepopup 0.2s forwards}
	@keyframes animatepopup {
		0% { transform:scale(0.94); opacity:0 }
		100% { transform:scale(1); opacity:1 }
	}

	.gt-animate-zoom { animation: animatezoom 0.2s }
	@keyframes animatezoom {
		from { transform: scale(0) }
		to { transform: scale(1) }
	}
}