/* Pagination */
.gt-pagination {

	display: inline-block;

	.gt-pagination-nav, .gt-pagination-num {
		float: left;
		padding: 8px 16px;
		color: $gray;
		text-decoration: none;
		transition-duration: .1s;

		&:hover {
			background: $gray-ccc;
			color: $white;
		}

		&.gt-active {
			background: $primary;
			color: $white;
		}
	}
	@include clearfix();
}
