/* toast */
.gt-toast-container {
	position: fixed;
	z-index: $zindex-fixed;
	opacity: 0;
	user-select: none;
	transition-duration: .2s;

	&[data-direction="right-top"] {
		top: 12px;
		right: 12px;
	}

	&[data-direction="left-top"] {
		top: 12px;
		left: 12px;
	}

	&[data-direction="right-bottom"] {
		right: 12px;
		bottom: 12px;
	}

	&[data-direction="left-bottom"] {
		left: 12px;
		bottom: 12px;
	}

	&[data-direction="center-top"] {
		left: 50%;
		top: 12px;
		transform: translate(-50%, 0);
	}

	&[data-direction="center-bottom"] {
		left: 50%;
		bottom: 12px;
		transform: translate(-50%, 0);
	}

	.gt-toast {
		position: relative;
		pointer-events: auto;
		overflow: hidden;
		padding: 10px;
		width: 300px;
		font-size: 0.8em;
		color: $white;
		background-color: $gray;
		box-shadow: 2px 2px 10px $gray-ccc;
		cursor: pointer;

		&.gt-toast-over {
			transition-duration: .2s;
			&.gt-animate-opacity {animation:animatepopup 0.3s backwards}
		}

		&.gt-toast-primary {
			background-color: $blue;
		}

		&.gt-toast-success {
			background-color: $green;
		}

		&.gt-toast-info {
			background-color: $teal;
		}

		&.gt-toast-warning {
			background-color: $yellow;
		}

		&.gt-toast-danger {
			background-color: $red;
		}
	}
}
