// Vertical-Align
.align-baseline { vertical-align: baseline !important }
.align-top { vertical-align: top !important }
.align-middle { vertical-align: middle !important }
.align-bottom { vertical-align: bottom !important }
