// flex direction
.flex-row { flex-direction: row !important }
.flex-row-reverse { flex-direction: row-reverse !important }
.flex-column { flex-direction: column !important }
.flex-column-reverse { flex-direction: column-reverse !important }

// flex main-axis align
.justify-content-start { justify-content: flex-start !important }
.justify-content-end { justify-content: flex-end !important }
.justify-content-center { justify-content: center !important }
.justify-content-around {justify-content: space-around !important }
.justify-content-between { justify-content: space-between !important }
.justify-self-start { justify-self: flex-start !important }
.justify-self-end { justify-self: flex-end !important }
.justify-self-center { justify-self: center !important }

// flex cross-axis align
.align-items-start { align-items: flex-start !important }
.align-items-end { align-items: flex-end !important }
.align-items-center { align-items: center !important }
.align-self-start { align-self: flex-start !important }
.align-self-end { align-self: flex-end !important }
.align-self-center { align-self: center !important }

// push item to end
.margin-auto-top { margin-top: auto !important }
.margin-auto-right { margin-right: auto !important }
.margin-auto-bottom { margin-bottom: auto !important }
.margin-auto-left { margin-left: auto !important }