// Alignment
.text-justify { text-align: justify !important }
.text-nowrap { white-space: nowrap !important }
.text-left {text-align: left !important}
.text-right {text-align: right !important}
.text-center {text-align: center !important}

// Transformation
.text-lowercase  { text-transform: lowercase !important }
.text-uppercase  { text-transform: uppercase !important }
.text-capitalize { text-transform: capitalize !important }

// Weight and italics
.font-weight-normal { font-weight: normal !important }
.font-weight-bold   { font-weight: bold !important }
.font-italic        { font-style: italic !important }

// Truncate
.text-truncate { display:inline-block !important; overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap !important }
